<div class="panel">
  <div class="panel-body">
  	<div class="subheader">
  		图片列表 
  		<%= link_to new_admin_slider_path, class: "pull-right" do %>
			<%= fa_icon("plus") %> 添加图片
  		<% end %>
  	</div>
    <% if @sliders.blank? %>
		<div class="alert alert-success" role="alert">还没有图片，快去<%= link_to "创建", new_admin_slider_path, class: "btn btn-primary" %>吧！</div>
    <% else %>
		<div class="row">
			<div class="col-xs-6 col-sm-3 text-center">图片</div>
			<div class="col-xs-6 col-sm-3 text-center">图片类型</div>
			<div class="col-xs-6 col-sm-3 text-center">图片描述</div>
			<div class="col-xs-6 col-sm-3 text-center">操作</div>
		</div>
			<table class="table">
		      <tbody>
		<% @sliders.each do |slider| %>
		        <tr class="row <%= dom_id(slider) %>">
		          <th class="col-xs-6 col-sm-3 text-center"><%= image_tag slider.pic_url ||  "default.jpg", size: "60x55" %></th>
		          <td class="col-xs-6 col-sm-3 text-center"><%= slider.slider_type %></td>
		          <td class="col-xs-6 col-sm-3 text-center"><%= slider.name %></td>
		          <td class="col-xs-6 col-sm-3 text-center">
		          	<%= link_to "编辑", edit_admin_slider_path(slider), class: "btn btn-primary" %>
		          	<%= link_to "查看", admin_slider_path(slider), class: "btn btn-primary" %>
		          	<%= link_to "删除", admin_slider_path(slider), class: "btn btn-danger", data: { confirm: "确定删除吗？", disable_with: "<i class='fa fa-spinner fa-spin'></i> 删除..." }, method: :delete, remote: true %>
		          </td>
		        </tr>
		<% end %>
		      </tbody>
		    </table>
		    <%= paginate @sliders %>
    <% end %>
  </div>
</div>