<div class="contain-wrap">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
	      <% if @company.com_carousel.present? %>
	        <% num = @company.com_carousel.size-1 %>
	          <ol class="carousel-indicators">
	            <% 0.upto(num) do |cot| %>
	            <li data-target="#myCarousel" data-slide-to="<%= cot %>" class="<%= "active" if cot==0 %>"></li>
	            <% end %>
	          </ol>
	          <div class="carousel-inner">
	            <% @company.com_carousel.each_with_index do |carousel, index| %>
	              <div class="item <%= "active" if index==0 %>">
	                <a href="#">
	                    <%= image_tag carousel.pic_url || "default.jpg", class: "img-responsive center-block", alt: "" %>
	                </a>
	              </div>
	            <% end %>
	          </div>

	      <% else %>
	        <ol class="carousel-indicators">
	            <li data-target="#myCarousel" data-slide-to="0" class=""></li>
	            <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
	            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
	        </ol>
	        <div class="carousel-inner">
	            <div class="item">
	                <a href="#">
	                    <img src="/assets/header.png" class="img-responsive center-block" alt="puke">
	                </a>
	            </div>
	            <div class="item active">
	                <a href="#">
	                    <img src="/assets/default.jpg" class="img-responsive center-block" alt="puke">
	                </a>
	            </div>
	            <div class="item">
	                <a href="http://www.yitongbaijiu.com/goods.php?id=7">
	                    <img src="/assets/default.jpg" class="img-responsive center-block" alt="puke">
	                </a>
	            </div>
	        </div>
	      <% end %>
	          <!-- Controls -->
	          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	        <span class="icon-prev"></span>
	          </a>
	          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	        <span class="icon-next"></span>
	          </a>
	</div>

	  <div class="container">
	      <div class="row marketing">
	      <% @company.sandom_products.each do |product| %>
	          <div class="col-xs-4 col-md-4 text-center">
	              <div>
	                  <%= link_to product, class: "thumbnail item", title: product.name do %>
		          		<%= image_tag product.pic_url || "default.jpg", class: "img-rounded" %>
		          		<% end %>
	              </div>
	          </div>
	     <% end %>
	      </div>
	  </div>
</div>