<tr class="row <%= dom_id(activity) %>">
  <td class="col-xs-6 col-sm-3 text-center"><%= activity.status_name %></td>
  <th class="col-xs-6 col-sm-3"><%= image_tag activity.pic_url ||  "default.jpg", size: "60x55" %></th>
  <td class="col-xs-6 col-sm-3 text-center"><%= truncate(strip_tags(activity.desc), length: 40, omission: '...' ) %></td>
  <td class="col-xs-6 col-sm-3 text-center">
  	<%= link_to "编辑", edit_admin_activity_path(activity), class: "btn btn-primary" %>
  	<%= link_to "删除", admin_activity_path(activity), class: "btn btn-danger", data: { confirm: "确定删除吗？", disable_with: "<i class='fa fa-spinner fa-spin'></i> 删除..." }, method: :delete, remote: true %>
  </td>
</tr>