<div class="panel">
  <div class="panel-body">
  	<div class="subheader">
  		产品列表 
  		<%= link_to new_admin_product_path, class: "pull-right" do %>
			<%= fa_icon("plus") %> 添加产品
  		<% end %>
  	</div>
    <% if @products.blank? %>
		<div class="alert alert-success" role="alert">还没有产品，快去<%= link_to "创建", new_admin_product_path, class: "btn btn-primary" %>吧！</div>
    <% else %>
		<div class="row">
			<div class="col-xs-6 col-sm-3 text-center">产品图片</div>
			<div class="col-xs-6 col-sm-3 text-center">产品名称</div>
			<div class="col-xs-6 col-sm-3 text-center">产品详情</div>
			<div class="col-xs-6 col-sm-3 text-center">操作</div>
		</div>
			<table class="table">
		      <tbody>
				<%= render @products %>
		      </tbody>
		    </table>
		    <%= paginate @products %>
    <% end %>
  </div>
</div>