    <div class="contain-wrap">
        <div class="container">
            <style type="text/css">
                @media (min-width: 768px) {
                    .goods-size-378-378 {height: 237px;width:237px;}
                    .goods-size-378-756 {height: 237px;width:475px;}
                    .goods-size-378-1134 {height: 237px;width:714px;}
                    .goods-size-756-378 {height: 475px;width:237px;}
                    .goods-size-756-756 {height: 475px;width:475px;}
                    .goods-size-756-1134 {height: 475px;width:714px;}
                    .goods-size-1134-378 {height: 714px;width:237px;}
                    .goods-size-1134-756 {height: 714px;width:475px;}
                    .goods-size-1134-1134 {height: 714px;width:714px;}
                    }
                @media (min-width: 992px) {
                    .goods-size-378-378 {height: 310px;width:310px;}
                    .goods-size-378-756 {height: 310px;width:621px;}
                    .goods-size-378-1134 {height: 310px;width:933px;}
                    .goods-size-756-378 {height: 621px;width:310px;}
                    .goods-size-756-756 {height: 621px;width:621px;}
                    .goods-size-756-1134 {height: 621px;width:933px;}
                    .goods-size-1134-378 {height: 933px;width:310px;}
                    .goods-size-1134-756 {height: 933px;width:621px;}
                    .goods-size-1134-1134 {height: 933px;width:933px;}
                    }
                @media (min-width: 1200px) {
                    .goods-size-378-378 {height: 377px;width:377px;}
                    .goods-size-378-756 {height: 377px;width:755px;}
                    .goods-size-378-1134 {height: 377px;width:1134px;}
                    .goods-size-756-378 {height: 755px;width:377px;}
                    .goods-size-756-756 {height: 755px;width:755px;}
                    .goods-size-756-1134 {height: 755px;width:1134px;}
                    .goods-size-1134-378 {height: 1134px;width:377px;}
                    .goods-size-1134-756 {height: 1134px;width:755px;}
                    .goods-size-1134-1134 {height: 1134px;width:1134px;}
                    }
            </style>
<ul id="myGoods" class="goods-list list-unstyled">
    <% @products.each_with_index do |product, cot| %>

    <li class="goods-item <%= masonry(cot%8) %>">
                    <%= link_to product do %>
            <div class="goods-desc text-right">
                <h5><strong style="line-height:1.8"><%= product.name %></strong></h5>
                <p class="text-danger">
                    <%= products.price %>                </p>
            </div>
             
            <!--div class="promotion">
                 
                     <i class="label zk"> 折</i> 
                     
                 
            </div-->
           
            <%=  image_tag product.pic_url ||  "default.jpg" %>
            <img src="/assets/default.png" class="goods-size-378-756">
                    <% end %>
    </li> 
    <% end %>
            </ul>

        <% if @products.present? %>
            <%= paginate @products %>
        <% end %>
        </div>
    </div>
    <%= javascript_include_tag "masonry.pkgd.min" %>
<script type="text/javascript">
    $(function() {
            var w = $(".container").width();
            var columnWidth = 377;
            if (970 < w) {
            } else if (750 < w && w <= 970) {
                columnWidth = 310;
            } else if (w <= 750) {
                columnWidth = 237;
            }
            $(".goods-list").masonry({
                itemSelector: ".goods-item", 
                columnWidth: columnWidth, 
                gutter: 1, 
                isFitWidth: true, 
            });
    });
</script>