<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="Generator" content="ECSHOP v2.7.3">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=9" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta name="keywords" content="<%= @company.name %>, puke, 白酒, 朴客白酒">
  <meta name="description" content="朴客酒">
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<!-- <script type='text/javascript' src='http://message.ckefu.com/js/73b6761582324dbdbe6eea3ed45bb339/2323.js' charset='UTF-8' data-turbolinks-track="false"></script> -->
</head>
<body>
 <div class="head-wrap">
   <div class="container">
    <div class="navbar navbar-fixed-top" style="background-color: #ffffff;border-bottom: 1px solid #eee;">
        <div class="navbar-header" style="margin-left: 100px">
            <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="navbar-brand logo" href="/" style="margin-top: -29px"><%=image_tag("logo.png")%></a>
        </div>
        
        <div class="navbar-collapse collapse" style="margin-left: 50px;">
            <ul class="nav navbar-nav navbar-left" style="margin-left: 5%">
                <li class="<%= 'active' if controller_name=="welcome"%>"><%= link_to "首页", root_path %></li>
                <li class="<%= 'active' if controller_name=="products"%>"><%= link_to "在线商城", spread_products_path %></li>
                <li class="<%= 'active' if controller_name=="customes"%>"><%= link_to "私人定制", customes_path %></li>
                <li class="<%= 'active' if controller_name =="companies"%>"><%= link_to "关于我们", intro_path %></a></li>
                <li class="<%= 'active' if controller_name =="contacts"%>"><%= link_to "联系我们", contacts_path %></a></li>
              <!--<li style="color: #101010;margin-top: 2%;margin-left: 105%;width: 250px">在线咨询：010-57491998</li>-->
              <!--<li><a href="#">联系我们</a></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right" id="ECS_MEMBERZONE">
                <li>
                    
<!--<a href="http://www.yitongbaijiu.com/user.php" rel="nofollow">登录</a>|<a href="http://www.yitongbaijiu.com/user.php?act=register" rel="nofollow">注册</a>-->

<!--| -->
<!--<a id="ECS_CARTINFO" href="http://www.yitongbaijiu.com/flow.php" title="查看购物车">-->
    <!--<span class="glyphicon glyphicon-shopping-cart"></span>-->
    <!--查看购物车<span class="badge">0</span>-->
<!--</a>-->
                </li>
            </ul>
        </div>
    </div>
</div>
    </div>
    <%= yield %>
    <div class="foot-wrap">
      <div class="container">
        <p class="text-center">© 2005-2015 朴客酒 版权所有，并保留所有权利。</p>
      </div>
    <%= javascript_include_tag 'application' %>
    </div>
 
    <script type="text/javascript">
    $(function(){
      $('.carousel').carousel({
        interval: 3000
      })
    })
    </script>
</body>
</html>
