<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="<%= @company.name %>">
  <meta name="description" content="">
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= javascript_include_tag 'application' %>
<!-- <script type='text/javascript' src='http://message.ckefu.com/js/73b6761582324dbdbe6eea3ed45bb339/2323.js' charset='UTF-8' data-turbolinks-track="false"></script> -->
<link rel="stylesheet" href="http://bdimg.share.baidu.com/static/api/css/slide_share.css?v=855af98e.css">
</head>
<body>
 <div class="head-wrap">
        <div class="container">
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="navbar-brand logo" href="http://www.yitongbaijiu.com/index.php"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="#">首页</a></li>
                <li><a href="#">在线商城</a></li>
                <li><a href="#">私人定制</a></li>
                <li><a href="#">关于我们</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" id="ECS_MEMBERZONE">
                <li>
                    
<a href="http://www.yitongbaijiu.com/user.php" rel="nofollow">登录</a>|<a href="http://www.yitongbaijiu.com/user.php?act=register" rel="nofollow">注册</a>

| 
<a id="ECS_CARTINFO" href="http://www.yitongbaijiu.com/flow.php" title="查看购物车">
    <span class="glyphicon glyphicon-shopping-cart"></span>
    查看购物车<span class="badge">0</span>
</a>
                </li>
            </ul>
        </div>
    </div>
</div>
    </div>
    <%= yield %>
    <div class="foot-wrap">
        <div class="container">
    <p class="pull-left">© 2005-2015 燃点酒业 版权所有，并保留所有权利。<a href="http://www.bootply.com/62603">京ICP备14055790号</a></p>
    <ul class="pull-right list-inline">
            <li><a href="http://www.yitongbaijiu.com/article_cat.php?id=6">官网视频</a></li>
            <li><a href="http://www.yitongbaijiu.com/article.php?id=9">服务与支持</a></li>
            <li><a href="http://www.yitongbaijiu.com/article.php?id=5">公司简介</a></li>
            <li><a href="http://www.yitongbaijiu.com/article.php?id=7">联系我们</a></li>
            <li><a href="http://www.yitongbaijiu.com/article_cat.php?id=8">招贤纳士</a></li>
            <li><a href="http://m.kuaidi100.com/">快递查询</a></li>
        </ul>
</div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":["tsina","weixin","qzone","renren","tqq","kaixin001","tieba","douban","sqq"],"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"0","bdPos":"right","bdTop":"100"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
<script>
var _hmt = _hmt || [];
(function() {
      var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?abfe9d99331824e0fc3daf752f5f889f";
          var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(hm, s);
})();
</script>
    </div>
<div class="bdshare-slide-button-box bdshare-slide-style-r0" style="top: 100px; width: 0px; z-index: 99999; right: 0px;" data-bd-bind="1438614528979"><a href="http://www.yitongbaijiu.com/#" onclick="return false;" class="bdshare-slide-button" style="left: -24px;"></a><div class="bdshare-slide-list-box" style="width: 0px; display: none;"><div class="bdshare-slide-top">分享到</div><div class="bdshare-slide-list"><ul class="bdshare-slide-list-ul" style="width: 116px;"></ul></div><div class="bdshare-slide-bottom" style="width: 116px;"><a href="http://www.yitongbaijiu.com/#" onclick="return false;" class="slide-more" data-cmd="more">更多...</a></div></div></div><div id="shadowMeasureIt"></div><div id="divCoordMeasureIt"></div><div id="divRectangleMeasureIt"><div id="divRectangleBGMeasureIt"></div></div>
  <script type="text/javascript">
function SetHome(obj,url){
    try{
        obj.style.behavior='url(#default#homepage)';
        obj.setHomePage(url);
    }catch(e){
        if(window.netscape){
            try{
                netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");
            }catch(e){
                alert("抱歉，此操作被浏览器拒绝！\n\n请在浏览器地址栏输入“about:config”并回车然后将[signed.applets.codebase_principal_support]设置为'true'");
            }
        }else{
            alert("抱歉，您所使用的浏览器无法完成此操作。\n\n您需要手动将【"+url+"】设置为首页。");
        }
    }
}

//收藏本站
function AddFavorite(title, url) {
    try {
        window.external.addFavorite(url, title);
    }
    catch (e) {
        try {
            window.sidebar.addPanel(title, url, "");
        }
        catch (e) {
            alert("抱歉，您所使用的浏览器无法完成此操作。\n\n加入收藏失败，请使用Ctrl+D进行添加");
        }
    }
}
</script>

</body>
</html>
